@charset "utf-8";

/*
   Sister Sister Events Layout
   
   Filename: Sister Sister_layout.css

*/

/* Header */
<!-- EXAMPLE: 
	body > header {
	margin: 0;
	width: 100%;
	overflow: hidden;
} -->

/* Navigation */

<!-- EXAMPLE: 
	body > nav {
	width: 20%;
	float: left;
	margin: 0 0 0 1.5%;
} -->

/* Body */
<!-- EXAMPLE: 
	body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
} -->

 body > header > img {
	width: 100%
	margin-right: 40%
	margin-top: 40%

/* Article */

<!--EXAMPLE: 
	body > article#about_tss img {
	float: right;
	width: 60%;
	margin: 0px 0 10px 10px;
}
  article.syllabus {
    	float: left;
	width: 74.5%;
	margin: 0 4% 0 0%;
}  	EXAMPLE-->

 

/* Aside */


/* Footer- Address */
<!-- EXAMPLE:
 body > footer {
	width: 100%;
	clear: left;
} -->

body > footer > address {
	width: 100%;
	clear: left;
	height: 30%;
